<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <ion-card-content>
      <img class="profile" src="assets/Ethel/1.jpg" >
      <center><h2>Ethel Panis Adizas</h2></center>
      <p>Studied at EVSU-CC</p>
      <p>Lives in Barugo,Leyte</p>
      <p>Gender:Female</p>
      <p>Birthday: August 26 1993</p>
      <p>In a Relationship</p>
      

      

  </ion-card-content>
  </ion-card>
  
</ion-content>
